
<%= form_for([@post, @post.comments.build], :html => { :class => "form-horizontal" }) do |f| %>

  <fieldset>
	  <div class="control-group">
		  <%= f.label :commenter %>
		  <%= f.text_field :commenter %>
	  </div>
	  <div class="control-group">
		  <%= f.label :body %>
		  <%= f.text_area :body %>
	  </div>
	  <div class="control-group">
		  <%= f.submit :class => "btn btn-primary" %>
	  </div>
  </fieldset>

<% end %>
