<h1>Listing posts</h1>
<table class="table table-stripped">
  <tr>
    <th>Title</th>
    <th>Published date</th>
    <th>Created at</th>
    <th>Last updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.published_date %></td>
    <td><%= post.created_at %></td>
    <td><%= post.last_updated_at %></td>
    <td><%= link_to 'Show', post, :class => 'btn' %></td>
  <% if post.owned_by? current_user %>
    <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %></td>
  <% end %>
  </tr>
<% end %>
</table>

<%= paginate @posts %>

<br />

<%= link_to 'New Post', new_post_path, :class => 'btn' %> 
<!--|<% if current_user %>
  <%= link_to 'logout', logout_path %>
<% else %>
  <%= link_to 'login', login_path %>
<% end %>-->
