<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="control-group">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="control-group">
    <%= f.label "Tags" %><br />
    <% for tag in Tag.all %>
		<label>
			<%= check_box_tag 'post[tag_ids][]', tag.id, @post.tag_ids.include?(tag.id), 
				:id => dom_id(tag) %><%= label_tag dom_id(tag), tag.name, 
				:class => 'check_box_label' %>
		</label>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
