<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @post.created_at %>
</p>

<p>
  <b>Last updated at:</b>
  <%= @post.last_updated_at %>
</p>

<div>
  <h2>Comments</h2>
  <%= render @post.comments %>
</div>

<div>
  <strong>Add new comment</strong>
  <%= render "comments/form" %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
