<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @post.created_at %>
</p>

<p>
  <b>Last updated at:</b>
  <%= @post.last_updated_at %>
</p>

<div id="comments">
  <h2>Comments</h2>
  <%= render @post.comments %>
</div>

<%= link_to "new comment", new_post_comment_path(@post, :format => :js), :remote => true, :id => 'new_comment_link' %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
